@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');


#display {
	text-align: right;
	color: red;
	background-color: #FFFDA4;
	height: 95px;
	width: 410px;
}
td {
	border: 2px solid #333;
	text-align: center;
	vertical-align: middle;
	background-color: #FFB697;
}
table {
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top: 30px;
}
input {
	border: 0;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 60px;
	cursor: pointer;
	background-color: #FFB697;
	height: 95px;
	width: 100px;
}
input:hover {
	background-color: #D17F5D;